-var pageTitle = 'Home'
-var siteName = 'EDteam'
-var twitterAccount = '@edteamlat'
-var pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-var pageImage = ''
-var menu = {'Taller de emprendimiento (31 ago)': '/dia-1.html', 'Workshops (1 sep)': '/dia-2.html'};
