.main-banner__img {
    filter: none;
    opacity: .15;
}

.main-banner {
    @include from(l) {
        padding-top: 8rem;
        padding-bottom: 9rem;
    }
}

.card__title {
    @include t3;
    margin-top: 0;

    + .card__subtitle {
        margin-top: -.5rem;
    }
}

.card__body {
    margin-bottom: 1rem;
}
.location {
    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: .25rem;   
      position: relative;
      top: 2px; 
      background: url(../img/icon-pin.svg) no-repeat;
    }
}


.section-title {
  margin-bottom : 2rem;
}


.ed-container {
  max-width : 1280px;
}

@include from(1280px){
    .ed-grid {
      width: 1200px
    }
}

@include from(1344px){
  .ed-grid {
    width: 1200px
  }
}

// banner
.main-banner--third {
  --color: var(--third-color);
}

.main-banner--dark {
  --color: var(--dark-color);
}


.subtitle.l-block {
  margin-bottom : 1rem;
  @include from(l){
    margin-bottom : 2rem;
  }
}


.card {
  height : auto !important;

  &__footer [class*=button] {
    margin-left : 1rem;
  }
}


.edcamp-logo {
  height: 3rem;
  margin-bottom : .5rem;

  @include from(l) {
    height : 5rem;
  }
}


// A guia de estilos

@each $bp, $size in $breakpoints {
  @each $align in left, center, right {
    @if $bp == s {
      .#{$align} {
        text-align : $align;
      }
    } @else {
      @include from($bp) {
        .#{$bp}-#{$align} {
          text-align : $align;
        }
      }
    }
  }
}
