// Internacionales
.talk-break.talk-break--speaker-profile.l-section#internacionales
  span Internacionales

// Alexys
.talk.talk--speaker-profile.l-section#alexys
  .talk__speaker
    .user.user--profile
      .user__avatar
        img(src='/assets/img/alexys.jpg')
      .user__data
        .t2.user__name Alexys Lozada
        .user__country
          img(src='/assets/img/icon-flag-co.svg').user__flag
          .small Colombia
        .user__bio
          include:markdown-it(html) ../pages/md/alexys.md
// Beto
.talk.talk--speaker-profile.l-section#beto
  .talk__speaker
    .user.user--profile
      .user__avatar
        img(src='/assets/img/beto.jpg')
      .user__data
        .t2.user__name Beto Quiroga
        .user__country
          img(src='/assets/img/icon-flag-bo.svg').user__flag
          .small Bolivia
        .user__bio
          include:markdown-it(html) ../pages/md/beto.md
// Jon Mircha
.talk.talk--speaker-profile.l-section#jon
  .talk__speaker
    .user.user--profile
      .user__avatar
        img(src='/assets/img/mircha.jpg')
      .user__data
        .t2.user__name Jon Mircha
        .user__country
          img(src='/assets/img/icon-flag-mx.svg').user__flag
          .small Mexico
        .user__bio
          include:markdown-it(html) ../pages/md/jon-mircha.md

// Internacionales
.talk-break.talk-break--speaker-profile.l-section.third#nacionales
  span Nacionales

// Álvaro Felipe
.talk.talk--speaker-profile.l-section#alvaro
  .talk__speaker
    .user.user--profile
      .user__avatar
        img(src='/assets/img/alvaro.jpg')
      .user__data
        .t2.user__name Alvaro Felipe
        .user__country
          img(src='/assets/img/icon-flag-pe.svg').user__flag
          .small Perú
        .user__bio
          include:markdown-it(html) ../pages/md/alvaro.md

// Manu
.talk.talk--speaker-profile.l-section#manu
  .talk__speaker
    .user.user--profile
      .user__avatar
        img(src='/assets/img/manu.jpg')
      .user__data
        .t2.user__name Manu Rodríguez
        .user__country
          img(src='/assets/img/icon-flag-pe.svg').user__flag
          .small Perú
        .user__bio
          include:markdown-it(html) ../pages/md/manu.md

// Harold
.talk.talk--speaker-profile.l-section#harold
  .talk__speaker
    .user.user--profile
      .user__avatar
        img(src='/assets/img/harold.jpg')
      .user__data
        .t2.user__name Harold Pajuelo
        .user__country
          img(src='/assets/img/icon-flag-pe.svg').user__flag
          .small Perú
        .user__bio
          include:markdown-it(html) ../pages/md/harold.md

// Harold
.talk.talk--speaker-profile.l-section#freddy
  .talk__speaker
    .user.user--profile
      .user__avatar
        img(src='/assets/img/freddy.jpg')
      .user__data
        .t2.user__name Freddy Cahuas
        .user__country
          img(src='/assets/img/icon-flag-pe.svg').user__flag
          .small Perú
        .user__bio
          include:markdown-it(html) ../pages/md/freddy.md
