.ed-grid.cols-l-12
  h2.t1.center.span-l-12.section-title Preguntas frecuentes
  div
  .span-l-5
    .l-block.faq__item
      h3 ¿Qué medios de pago aceptan?
      p Puedes pagar por depósito o transferencia en Interbank y BCP. Usa agentes o transferencias por internet para evitar la comisión. También puedes usar Paypal pero se te cobrará en dólares (el tipo de cambio dependerá de Paypal o tu banco, no de EDteam).
    .l-block.faq__item
      h3 ¿Ofrecen reembolso?
      p No. Puesto que los cupos son limitados, cada compra es una reserva de vacante que no se puede revender posteriormente a un reembolso.
    .l-block.faq__item
      h3 ¿El almuerzo está incluido?
      p No. Pero ambos días entregaremos cofee break y bocaditos a todos los asistentes.
    .l-block.faq__item
      h3 Soy usuario premium ¿tengo algún descuento?
      p Si eres premium anual recibes 50% de descuento. Para premium mensual, 10% de descuento.
    .l-block.faq__item
      h3 ¿El evento será transmitido en vivo?
      p No. Nuestro objetivo es concentrarnos en vivir la experiencia 100% en persona. Pero grabaremos todo el evento y será subido a la App de cursos de EDteam.
  .span-l-5
    .l-block.faq__item
      h3 ¿Puedo pagar en la puerta del evento?
      p Sí, pero dado que las vacantes son limitadas, es preferible que asegures tu cupo con anticipación pues podrían estar agotados los cupos para el día del evento.
    .l-block.faq__item
      h3 ¿Puedo llevar a un amigo?
      p Sí, pero al ser un evento de pago, cada uno debe pagar su entrada.
    .l-block.faq__item
      h3 ¿Ofrecen algun tipo de descuento o promoción?
      p Sí. Puedes comprar la entrada a los workshops (sábado 1ro) y obtendrás acceso gratuito al taller de emprendimiento.
    .l-block.faq__item
      h3 ¿Darán certificado?
      p Por supuesto, tanto el taller de emprendimiento como los workshops contarán con sus respectivos certificados.
    .l-block.faq__item
      h3 ¿Cómo participo en los sorteos?
      p Con solo tu inscripción ya estás participando en el sorteo de dos mouse y dos teclados gamer. Tendremos sorteos los dos días del evento.
