.main-footer
  .ed-grid.cols-l-2
    span EDcamp Lima 2018 - 31 de agosto y 1ro de setiembre - <a href="https://ed.team" target="_blank">EDteam</a>
    div.social-icons
      a(href="https://ed.team/facebook"): img(src="img/facebook.svg")
      a(href="https://ed.team/twitter"): img(src="img/twitter.svg")
      a(href="https://ed.team/youtube"): img(src="img/youtube.svg")
      a(href="https://ed.team/instagram"): img(src="img/instagram.svg")
      a(href="https://ed.team/linkedin"): img(src="img/linkedin.svg")
      a(href="https://ed.team/github"): img(src="img/github.svg")
