.topbar--dark#topbar
  .ed-container
    .ed-item.main-center
      p.countdown 🚀 Este 31 de agosto y 1 de setiembre regresa el EDcamp a Lima &nbsp;
        a(href="/edcamp") ¡No te lo pierdas! &nbsp;
        | El EDcamp comienza en:
        span#clock.button--cta.button--tiny
