extends ../../config/template
append config
  -pageTitle = 'Taller de emprendedores - EDcamp Lima 2018'
  -pageDescription = '¿Quieres saber qué debe tener tu emprendimiento para ser sostenible? ¿Cómo hizo EDteam para superar el valle de la muerte y estar en el top 3 de la educación online en español sin inversionistas?'
  -pageImage = '/img/tde.jpg'

block main
  +banner('dark','banner-jon.jpg','Aprende a emprender', 'La idea es menos del 1% de un proyecto exitoso')

  .ed-grid
    p.l-60.to-center.center.l-section
      | ¿Cansado de ser empleado? ¿Sueñas con emprender? <br>
      | ¿Ya estás emprendiendo y quieres ir al siguiente nivel? <br>
      | En este taller aprenderás a hacer crecer tu emprendimiento y hacerlo sostenible.

  section.l-section.diagonal-section#programacion
    .ed-grid.cols-l-12.diagonal-section__content
      h2.t1.center.span-l-12.section-title Programación
      p.subtitle.span-l-12.l-60.to-center.center.l-block.small Cada charla dura 25 minutos y en los intermedios (de 15 minutos) los asistentes trabajarán en grupos para definir un proyecto propio con los conceptos aprendidos. El equipo de EDteam los asesorará y elegirá la mejor propuesta que será premiada al final del día. El registro y entrada será a partir de la 1:30pm
      .span-l-12.l-60.to-center.l-block
        img(src="/assets/img/dinamica-tde.jpg")
      div.span-l-2
      div.home-users.span-l-9
        // Presentación
        .talk-break.l-section#presentacion
          .talk__hour 2:00pm <br> 2:35pm
          span Presentación y dinámica

        // Charla 1 - Jon
        .talk.l-section#jon
          .talk__hour 2:35pm <span>-</span> 3:00pm
          .talk__speaker
            +user('Jon MirCha','mircha.jpg','mx', 'México')
          .talk__info
            h3 Producto y propuesta de valor
            p Todo emprendimiento comienza por un producto que debe satisfacer una necesidad y una propuesta de valor que haga a este producto atractivo para los posibles clientes

        // Charla 2 - Freddy
        .talk.l-section#freddy
          .talk__hour 3:15pm <span>-</span> 3:40pm
          .talk__speaker
            +user('Freddy Cahuas','freddy.jpg','pe', 'Perú')
          .talk__info
            h3 Marketing y ventas
            p El marketing se encarga de acercar el producto al público al que puede interesarle y las ventas en la adquisición del producto. Sin ventas, no existe emprendimiento.

        // Charla 3 - Alexys
        .talk.l-section#alexys
          .talk__hour 3:55pm <span>-</span> 4:20pm
          .talk__speaker
            +user('Alexys Lozada','alexys.jpg','co', 'Colombia')
          .talk__info
            h3 Finanzas
            p Vender no basta, se necesita comprender cuanto dinero entra, cuanto dinero sale, cuanto es la ganancia real y si el emprendimiento es sostenible o no.

        // Coffe break
        .talk-break.l-section.second
          .talk__hour 4:20pm <br> 4:40pm
          span Coffe break

        // Charla 4 - Beto
        .talk.l-section#beto
          .talk__hour 4:55pm <span>-</span> 5:20pm
          .talk__speaker
            +user('Beto Quiroga','beto.jpg','bo', 'Bolivia')
          .talk__info
            h3 Gestión y operaciones
            p La gestión consiste en administrar los recursos económicos, humanos, físicos y tecnológicos para conseguir los objetivos de la empresa.

        // Charla 5 - Alvaro
        .talk.l-section#alvaro
          .talk__hour 5:35pm <span>-</span> 6:00pm
          .talk__speaker
            +user('Álvaro Felipe','alvaro.jpg','pe', 'Perú')
          .talk__info
            h3 Liderazgo y estrategia
            p El liderazgo mantiene unido y motiva al equipo, define los objetivos a seguir y analiza el mercado para definir las estrategias adecuadas.

        // Charla 6 - Manu
        .talk.l-section#manu
          .talk__hour 6:15pm <span>-</span> 6:40pm
          .talk__speaker
            +user('Manu Rodriguez','manu.jpg','pe', 'Perú')
          .talk__info
            h3 Relaciones públicas y clientes
            p Ningún emprendimiento puede crecer solo, se requiere relaciones para obtener nuevas oportunidades. Además la buena atención al cliente asegura las ventas futuras.

        // Premiación
        .talk-break.l-section.third#premiacion
          .talk__hour 6:55pm <br> 7:30pm
          span Premiacion

  section.l-section#donde
    .ed-grid.cols-l-12
      div
      .span-l-3
        h2.t1.center.l-left ¿Dónde?
        p.location Auditorio del Museo de Historia Natural. Av Arenales 1256 - Jesús María (alt cuadra 12 av Arequipa)
        a.button--ghost--alert.button--tiny(href="https://www.google.com/maps/place/Museo+de+Historia+Natural/@-12.0774102,-77.0392338,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c8f3b35e0431:0x21e64c7daa8080b0!8m2!3d-12.0774102!4d-77.0370451" target="_blank") Ver en Google Maps
        p Verificaremos tu inscripción en puerta. El ingreso inicia a la 1:30pm.
      .span-l-7
        img(src="/assets/img/mapa-dia-1.jpg")
  section.l-section.diagonal-section.left.third#inscripciones
    .ed-grid.cols-l-12.diagonal-section__content
      h2.t1.center.span-l-12.section-title Inscripciones
      div
      .span-l-5.l-block
        +suscriptionCard('tde','tde', 'Taller de emprendimiento', 'Viernes 31 de agosto (2pm - 8pm)', '', '¡Gratis!','* Becas de EDteam para los ganadores','first','https://goo.gl/forms/HXz6YdrH2v7uJfxk2')
      .span-l-5.l-block
        h3 Tu inscripción incluye
        ul.edcamp-features.small
          li Coffe break
          li Stickers, pines y llaveros
          li Sorteo de mouse Razer Mamba Tournament Edition &nbsp;
            a(href="https://www.razer.com/gaming-mice/razer-mamba-tournament-edition" target="_blank") (Ver detalles)
          li Sorteo de teclado gamer Poseidon Z RGB &nbsp;
            a(href="https://www.ttesports.com/productPage.aspx?p=201&g=ftr#.W3NtBehKjYZ" target="_blank") (Ver detalles)
          li Descuentos en cursos y suscripciones a EDteam
  section.l-section#faq
    include ../../includes/faq

